<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>Archetype Created Web Application</display-name>
	<listener>
		<listener-class>com.alberta0714.qihaoyuan.Listener</listener-class>
	</listener>
	<filter>
		<filter-name>EncodeFilter</filter-name>
		<filter-class>com.alberta0714.qihaoyuan.EncodeFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>EncodeFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>IndexMgr</servlet-name>
		<servlet-class>com.alberta0714.qihaoyuan.admin.actions.IndexMgrAction</servlet-class>
	</servlet>


	<servlet-mapping>
		<servlet-name>IndexMgr</servlet-name>
		<url-pattern>/actions/indexMgrAction</url-pattern>
	</servlet-mapping>
</web-app>
