<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smartoa.service.mapper.ScreenMapper">

	<!-- 订单列表 -->
	<select id="scOrderList" resultType="com.smartoa.service.model.Order">
		SELECT
		id, order_no, create_time,order_source, servicer_id,total_amount,
		servicer_name,trade_type,
		receipt_addr_province_code,
		receipt_addr_city_code, receipt_addr_county_code,
		cust_id, cust_name,
		down_lease
		FROM tb_order
		WHERE 1=1
		<if test="tradeDateStart != null and tradeDateStart !=''">
			and trade_date &gt; #{tradeDateStart}
		</if>
		<if test="tradeDateEnd != null and tradeDateEnd !=''">
			AND trade_date &lt; #{tradeDateEnd}
		</if>
		<if test="orderIds != null and orderIds !=''">
			AND id in (${orderIds})
		</if>
		ORDER BY create_time desc
	</select>
	<!-- 区域信息 -->
	<select id="scProvinceList" resultType="com.smartoa.service.model.SysProvinces">select * from
		td_sys_provinces
	</select>
	<select id="scCityList" resultType="com.smartoa.service.model.SysCity">select * from td_sys_city
	</select>
	<select id="scAreaList" resultType="com.smartoa.service.model.SysAreaCounty">select * from
		td_sys_area_county
	</select>
	<!-- 合同 -->
	<select id="scAgreementList" resultType="com.smartoa.service.model.Agreement">
		SELECT
		id,
		agreement_no,tb_order_id,rent,rent_unit,charge_cycle_rent,tenancy,agreement_type
		,status,tb_device_id
		,agreement_begin_date,agreement_end_date,if_early_termination
		FROM
		tb_agreement
		WHERE 1=1
		<if test="orderIds != null and orderIds !=''">
			AND tb_order_id in (${orderIds})
		</if>
		<if test="status != null">
			AND status=#{status} AND if_early_termination=0
		</if>
		<if test="map.agreementEndDate!=null">
			agreement_end_date&lt;=#{map.agreementEndDate}
		</if>
		<if test="map.agreementBeginDate!=null">
			agreement_begin_date&lt;=#{map.agreementBeginDate}
		</if>
		ORDER by create_time desc
	</select>
	<!-- 订单单品 -->
	<select id="scOrderSkuList" resultType="com.smartoa.service.model.OrderSku">
		SELECT
		id, order_no, sku_name, sku_model, sku_count, sku_brand
		FROM
		tb_order_sku
		WHERE 1=1
		<if test="orderNos != null and orderNos !=''">
			AND order_no in (${orderNos})
		</if>
	</select>
	<!-- 客户 -->
	<select id="scCustList" resultType="com.smartoa.service.model.Cust">
		SELECT
		*
		FROM tb_cust
		WHERE 1=1
		<if test="createTimeStart != null and createTimeStart !=''">
			AND create_time &gt; #{createTimeStart}
		</if>
		<if test="createTimeEnd != null and createTimeEnd !=''">
			AND create_time &lt; #{createTimeEnd}
		</if>
		<if test="custIds != null and custIds !=''">
			AND id in (${custIds})
		</if>
		ORDER by create_time DESC
	</select>
	<!-- 工程师 - 城市,级别 -->
	<select id="scEngineerList" resultType="com.smartoa.service.model.Engineer">
		SELECT
		id, user_name, servicer_id, servicer_name, `level`,
		if_authentication,
		lng, lat, province_code, city_code, county_code,
		create_time
		FROM tb_engineer
		WHERE
		1=1
		AND status &lt;&gt; 2
		AND if_enabled
		= 1
		<if test="ifAuthentication!=null">
			and if_authentication=#{ifAuthentication}
		</if>
		<if test="createTimeStart != null and createTimeStart !=''">
			AND create_time &gt; #{createTimeStart}
		</if>
		<if test="createTimeEnd != null and createTimeEnd !=''">
			AND create_time &lt; #{createTimeEnd}
		</if>
		ORDER by create_time DESC
	</select>
	<!-- 工单 - 城市, 类别 -->
	<select id="scWorkOrderList" resultType="com.smartoa.service.model.WorkOrder">
		SELECT
			id, work_order_no, work_order_category, work_order_source,
			cust_no,
			cust_name, STATUS, next_opr, servicer_id
		FROM
			tb_work_order
		WHERE 1 = 1
		<if test="createTimeStart != null and createTimeStart !=''">
			AND create_time &gt; #{createTimeStart}
		</if>
		<if test="createTimeEnd != null and createTimeEnd !=''">
			AND create_time &lt; #{createTimeEnd}
		</if>
		ORDER BY create_time DESC
	</select>
	
	<select id="scWorkOrderOprList" resultType="com.smartoa.service.model.screen.other.ScreenWorkOrderOpr">
		SELECT 
		  opr.id,
		  opr.`engineer_id`,
		  engineer.if_authentication,
		  opr.`if_finished`,
		  -- 是否完工：0-未完工、1-已完工、2-取消、3-已派工                 
		  opr.`dispatcher_time`,
		  opr.task_nature,
		  -- 任务性质：0-送货、1-安装、2-保养、3-维修、4-更换耗材配件、5-全包安装  
		  opr.`recommended_first_treatment`,
		  -- 首次处理建议：0-电话支持、1-直接上门        
		  opr.`will_go_time`,
		  -- 立即前往时间
		  wo.`servicer_id`,
		  wo.`cust_no`,
		  wo.`cust_name`,
		  od.`receipt_addr_province_code`,
		  province.`provinces`,
		  od.`receipt_addr_city_code`,
		  city.`city`,
		  od.`receipt_addr_county_code`,
		  country.`area_county` 
		FROM
		  `tb_work_order_opr` opr 
		  LEFT JOIN `tb_engineer` engineer 
		    ON engineer.id = opr.`engineer_id` 
		  LEFT JOIN tb_work_order wo 
		    ON wo.`id` = opr.`work_order_id` 
		  LEFT JOIN tb_order od 
		    ON od.`id` = wo.`order_id` 
		  LEFT JOIN `td_sys_provinces` province 
		    ON province.`provinces_code` = od.`receipt_addr_province_code` 
		  LEFT JOIN `td_sys_city` city 
		    ON city.`city_code` = od.`receipt_addr_city_code` 
		  LEFT JOIN `td_sys_area_county` country 
		    ON country.`area_code` = od.`receipt_addr_county_code` 
		WHERE 1 = 1
		  AND opr.`dispatcher_time` &gt;= #{start} 
		  AND opr.`dispatcher_time` &lt;= #{end}
	</select>
	<!-- 字典 -->
	<select id="scDicList" resultType="com.smartoa.service.model.Dictionary">
		select * from `td_dictionary`
	</select>

	<select id="scMapRoadConditions" resultType="com.smartoa.service.model.MapRoadConditions">
		select
		id,area_name,longitude,latitude from `tb_map_road_conditions`
	</select>
	<!-- 服务商 -->
	<select id="scServiceOrgList" resultType="com.smartoa.service.model.ServiceOrg">
		SELECT
		id, org_name,org_type,audit_status,
		if_authentication
		,lng,lat,addr_province_code
		,addr_city_code,addr_county_code
		FROM
		`tb_service_org`
		WHERE 1 = 1
		<if test="orgTypes != null and orgTypes !=''">
			AND org_type IN (${orgTypes})
		</if>
		<if test="ids != null and ids !=''">
			AND id in (${ids})
		</if>
		<if test="ifAuth">
			AND if_authentication=1
		</if>
	</select>
	<!-- 设备上报异常 -->
	<select id="scDeviceReportsAbnormalList" resultType="com.smartoa.service.model.DeviceReportsAbnormal">
		SELECT id, tb_device_id
		FROM td_device_reports_abnormal
		WHERE 1=1
		<if test="abnormalWarningLevel !=null and abnormalWarningLevel != ''">
			AND abnormal_warning_level=#{abnormalWarningLevel}
		</if>
	</select>
	<!-- 设备 -->
	<select id="scDeviceList" resultType="com.smartoa.service.model.Device">
		SELECT
		id,device_model_dict_code, color, enabled, if_delete , lng,lat
		FROM
		tb_device
		WHERE 1=1
		AND enabled = 0
		AND if_delete = 0
	</select>

	<insert id="saveScreenAssets">
		INSERT INTO `ts_screen_assets` (`type`,`customers`,
		`service_devices`,
		`certification_servicers`, `online_devices`,
		`type_id`, `create_time`)
		VALUES (#{type}, #{customers},
		#{serviceDevices},
		#{certificationServicers}, #{onlineDevices},
		#{typeId}, #{createTime})
	</insert>

	<update id="updateScreenAssets">
		UPDATE `ts_screen_assets` set type=#{type},
		customers=#{customers},
		service_devices=#{serviceDevices},
		certification_servicers=#{certificationServicers},
		online_devices=#{onlineDevices},
		type_id=#{typeId}
		WHERE id=#{id}
	</update>

	<select id="scScreenAssetsList" resultType="com.smartoa.service.model.TsScreenAssets">
		select * from ts_screen_assets where 1=1
		<if test="type != null and type != ''">
			AND type=#{type}
		</if>
		<if test="typeId != null and typeId != ''">
			AND type_id=#{typeId}
		</if>
		<if test="createTime!=null">
			and create_time=#{createTime}
		</if>
		<if test="withCreateTimeOrder">
			order by create_time desc
		</if>
	</select>
	<delete id="deleteScreenAssets">
		delete from ts_screen_assets where
		create_time&lt;=#{createTime}
	</delete>

	<!-- 设备-租约 -->
	<select id="scDeviceLeaseList" resultType="com.smartoa.service.model.DeviceLease">
		SELECT tb_device_id, cust_id,servicer_id FROM `tr_device_lease`
		<if test="timeStart != null and timeStart !=''">
			AND agreement_begin_date &gt;= #{timeStart}
		</if>
		<if test="timeEnd != null and timeEnd !=''">
			AND createagreement_begin_date_time &lt;= #{timeEnd}
		</if>
		ORDER BY agreement_begin_date DESC
	</select>

	<insert id="scSaveVectorData">
		insert into ts_screen_map_vector_data
		set
		adcode=#{adcode}
		,
		json_body=#{jsonBody}
		, source_url=#{sourceUrl}
		<if test="createTime!=null">
			, create_time = #{createTime}
		</if>
		, update_time=#{updateTime}
	</insert>
	<select id="scQueryVectorData" resultType="map">
		select * from
		ts_screen_map_vector_data where adcode=#{adcode}
	</select>

	<insert id="scSaveCentral">
		insert into ts_screen_servicer_central
		set
		adcode=#{adcode}
		, lng=#{lng}
		, lat=#{lat}
		<if test="zoom!=null">
			, zoom = #{zoom}
		</if>
		, source_json=#{sourceJson}
		, source_url=#{sourceUrl}
		, create_time =
		#{createTime}
		, update_time = #{updateTime}
	</insert>
	<select id="scQueryCentral" resultType="map">
		select * from
		ts_screen_servicer_central where adcode=#{adcode}
	</select>


	<select id="scEngineerDevice" resultType="map">
SELECT 
  ed.id,
  ed.`tb_engineer_id`,
  ed.`if_bonded`,
  ed.tb_device_id,
  ed.province_code,
  province.`provinces`,
  ed.city_code,
  city.`city`,
  ed.county_code,
  country.`area_county`,
  engineer.`servicer_id`
FROM
  tb_engineer_device ed 
  LEFT JOIN td_sys_provinces province 
    ON province.`provinces_code` = ed.`province_code` 
  LEFT JOIN td_sys_city city 
    ON city.`city_code` = ed.`city_code` 
  LEFT JOIN td_sys_area_county country 
    ON country.`area_code` = ed.`county_code` 
  LEFT JOIN tb_engineer engineer 
    ON engineer.`id` = ed.`tb_engineer_id` 
WHERE 1 = 1 
		<if test="map.ifBonded!=null">
			AND ed.`if_bonded`=#{map.ifBonded}
		</if>
	</select>

	<select id="scProductFieldValue"
		resultType="com.smartoa.service.model.screen.other.ScreenProductFieldValue">
		SELECT
		fdv.`id`,
		fdv.`field_value`,
		product.`model`,
		fd.`dict_type`
		FROM
		tb_product_field_value fdv
		LEFT JOIN tb_product_field fd
		ON fd.`id`
		=fdv.`field_id`
		LEFT JOIN td_dictionary dic
		ON dic.type = fd.`dict_type`
		AND dic.`code` = fdv.`field_value`
		LEFT JOIN tb_product product
		ON
		product.id = fdv.`product_id`
		where 1=1
		<if test="dictType!=null and dictType!=''">
			and fd.`dict_type`=#{dictType}
		</if>
	</select>

	<select id="scRegUsers" resultType="com.smartoa.service.model.screen.other.ScreenRegUser">
	SELECT
	id,
	user_name
	FROM
	tb_user
	WHERE 1 = 1
	AND if_enable = 1
	AND user_type IN (3, 9)
	AND if_admin = 0 
	</select>
	
	<!-- 查询会员 -->
	<select id="scMembers" resultType="com.smartoa.service.model.screen.other.ScreenMember">
SELECT 
  user.id,
  user.`create_time`,
  user.`user_type`,
  cust.`delivery_address_city`,
  city.`city`,
  cust.`delivery_address_county`,
  country.`area_county` country,
  (SELECT 
    servicer_id 
  FROM
    tr_device_lease 
  WHERE tr_device_lease .cust_id = cust.`id` 
    AND tr_device_lease.`status`=1
  LIMIT 1) AS servicer_id 
FROM
  tb_user `user` 
  LEFT JOIN tb_cust cust 
    ON cust.id = user.`org_id` 
  LEFT JOIN `td_sys_city` city 
    ON city.`city_code` = cust.`delivery_address_city` 
  LEFT JOIN `td_sys_area_county` country 
    ON country.`area_code` = cust.`delivery_address_county` 
WHERE 1 = 1 
  AND user.`if_enable` = 1 
  AND user.`user_type` = 3 
  AND user.create_time &gt;= #{start}
	</select>
	
	
	<select id="scServiceAreaList" resultType="com.smartoa.service.model.screen.other.ScreenServiceArea">
		SELECT 
		  sa.id ,
		  sa.`tb_service_company_id` as s_id,
		  pvn.`provinces_code` as province_code,
		  pvn.`provinces` as province_name,
		  city.`city_code` as city_code,
		  city.`city` as city_name,
		  sa.`county_code` as country_code,
		  ac.`area_county` as country_name 
		FROM
		  `tb_service_area` sa 
		  LEFT JOIN td_sys_provinces pvn 
		    ON pvn.`provinces_code` = sa.`province_code` 
		  LEFT JOIN td_sys_city city 
		    ON city.`city_code` = sa.`city_code` 
		  LEFT JOIN td_sys_area_county ac 
		    ON ac.`area_code` = sa.`county_code` 
		WHERE 1 = 1 
	</select>
</mapper>
